@import url(reset.css);

body{
    background-color: #000;
    color: #fff;
    
}

.banner-content{
    height: 605px;
    /* background-image: url('../images/banner.png'); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(28, 124, 167, 0.2), rgba(0, 0, 0, 0.6)), url("../images/banner.png");
    border-bottom: 1px solid;
    border-bottom-color: rgba(26, 111, 148, 0.8);
    /* background-color: rgba(48, 170, 222,0.1); */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
}

.logo{
    width: 268px;
    height: 268px;
    background-color: #fff;
    background-color: rgba(0,0,0,.2);
    border: 1px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.banner-content h1{
    width: 434px;
    height: 47px;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 900;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
}

.banner-content p{
    width: 550px;
    height: 46px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    margin: 16px 0px 24px;
}

button{
    width: 326px;
    height: 57px;
    font-size: 16px;
    font-weight: 900;
    line-height: 19px;
    letter-spacing: 0.21em;
    text-align: center;
    color: #31A8DD;
    border: 2px solid rgb(48, 170, 222);
    background-color: transparent;
    border: 2px solid;
    text-transform: uppercase;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid;
    border-bottom-color: rgba(26, 111, 148, 0.8);
}

#course-content{
    width: 792px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#course-content h2{
    font-size: 32px;
    font-weight: 800;
    line-height: 38px;
    letter-spacing: 0.19em;
    text-align: left;
    color: #33A8DB;
    text-transform: uppercase;
    margin: 45px 0px 24px;

}

#course-content p{
    width: 792px;
    height: 38px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 24px;
}

.module{
    width: 535px;
    height: 51px;
    border: 1px solid #33A8DB;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    background-color: #1C1E1F
}

.module span{
    color: #45B0DE;
}

#transform-world{
    width: 100vw;
    height: 363px;
    background-image: url('../images/woman-code.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#transform-world p{
    width: 244px;
    height: 141px;
    font-size: 40px;
    font-weight: 900;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: lowercase;
    margin: 100px 0px auto 200px;
    text-shadow: rgb(29, 124, 166) 3px 2px;
}

#professional-challenges{
    width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

#professional-challenges h2{
    text-transform: uppercase;
    width:800px;
    height: 76px;
    top: 1577px;
    left: 347px;
    font-family: Raleway;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0.19em;
    text-align: center;  
    color: #33A8DB;
    margin-bottom: 56px;
}

#professional-challenges p{
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    width: 792px;
    margin-top: 32px;
    margin-bottom: 100px;
}

footer{
    width: 100vw;
    height: 170px;
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(29, 125, 166, 0), rgba(29, 125, 166, 0.2));
}

footer img{
    width: 310px;
}